.tech-carousel {
  width: 100%;
  overflow: hidden;
  background: #ce6a6a;
  padding: 40px 0;
}
.techname {
  text-align: center;
  margin-bottom: 20px;
}
.tech-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.tech-card {
  width: 160px;
  margin: 0 20px;
  text-align: center;
  color: #ffffff;
  flex-shrink: 0;
}

.tech-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
  /* filter: grayscale(100%); */
  transition: filter 0.3s, transform 0.3s;
}

.tech-card p {
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* hover effect */
.tech-card:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .tech-card {
    width: 120px;
    margin: 0 15px;
  }

  .tech-card img {
    width: 50px;
    height: 50px;
  }

  .tech-card p {
    font-size: 12px;
  }
}